body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, black, #e60000, white);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 350px;
}

.box {
    background: rgba(0,0,0,0.8);
    padding: 25px;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 10px #e60000;
}

.box h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    margin-bottom: 12px;
    padding: 12px;
    border: none;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 12px;
    background: #e60000;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #ff1a1a;
}

.alt {
    text-align: center;
    margin-top: 15px;
}

a {
    color: #ff4d4d;
    text-decoration: none;
}

.hidden {
    display: none;
}
